[project]
	description = Ruby on Rails
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alison Rodrigues de Souza (AlisonSouza)
[access "refs/for/refs/*"]
	read = group user/Alison Rodrigues de Souza (AlisonSouza)
	push = group user/Alison Rodrigues de Souza (AlisonSouza)
	label-Code-Review = -2..+2 group user/Alison Rodrigues de Souza (AlisonSouza)
	label-Verified = -1..+1 group user/Alison Rodrigues de Souza (AlisonSouza)
	rebase = group user/Alison Rodrigues de Souza (AlisonSouza)
	removeReviewer = group user/Alison Rodrigues de Souza (AlisonSouza)
	submit = group user/Alison Rodrigues de Souza (AlisonSouza)
[access "refs/heads/*"]
	read = group user/Alison Rodrigues de Souza (AlisonSouza)
	create = group user/Alison Rodrigues de Souza (AlisonSouza)
	push = +force group user/Alison Rodrigues de Souza (AlisonSouza)
	pushMerge = group user/Alison Rodrigues de Souza (AlisonSouza)
[access "refs/tags/*"]
	push = +force group user/Alison Rodrigues de Souza (AlisonSouza)
	createTag = group user/Alison Rodrigues de Souza (AlisonSouza)
	createSignedTag = group user/Alison Rodrigues de Souza (AlisonSouza)
